---
import type { Booth } from '@lib/booth';
import { Image } from 'astro:assets';



const { boothType, boothImg, boothTitle, boothDescription, boothLocation, hasMapLink, hasCircleLink, MapLink = "#" } = Astro.props as Booth;
---

<div class="booth-card">
    <div class="img-wrapper">
        <Image src={boothImg} alt={boothTitle} />
        <p>{boothType}</p>
    </div>
    <div class="content-wrapper">
        <h3>{boothTitle}</h3>
        <p class="text-body">{boothDescription}</p>
        <p class="text-body">場所: {boothLocation.join(' , ')}</p>
        {hasMapLink && (
            <a class="btn btn-map" href={MapLink} >
                マップを見る
            </a>
        )}
        {hasCircleLink && (
            <a class="btn btn-circle" href="/circles" >
                サークル一覧を見る
            </a>
        )}
    </div>
</div>

<style>
    .booth-card {
        width: 300px;
    }

    @media screen and (max-width: 768px) {
        .booth-card {
            width: 100%;
        }
    }
    

    .img-wrapper {
        aspect-ratio: 16 / 9;
        width: 100%;
        position: relative;
        overflow: hidden;
    }

    .img-wrapper img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 8px;
    }

    .img-wrapper p {
        position: absolute;
        bottom: 0px;
        left: 0px;
        background-color: var(--wakabasai-red);
        color: #fff;
        padding: 4px 8px;
        margin: 0;
        font-size: 12px;
    }

    .content-wrapper {
        background-color: #eaeaea;
        padding: 15px;
    }

    .content-wrapper h3 {
        padding: 0;
        margin: 0;
    }

    .btn {
        display: inline-block;
        width: 100%;
        text-align: center;
        box-sizing: border-box;
        padding: 8px 12px;
        margin-top: 10px;
        text-decoration: none;

        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 191%;
        letter-spacing: 0.96px;
    }

    .btn-map {
        color: #fff;
        background-color: var(--wakabasai-red);
    }

    .btn-circle {
        color: var(--wakabasai-red);
        background-color: transparent;
        border: 1px solid var(--wakabasai-red);
    }
</style>
